extends layout 

block content
    if items.length > 0
        .centered
            .confirmation-dialog(style="background-color:#fff; padding: 10px;")
                h1 #{title}
                p Can't delete this category because there are items associated with it.
                .btns-container
                    a.primary-btn(href="/category") Go Back
    else 
        .centered
            form(action="" method="POST" class="form confirmation-dialog")
                h1 #{title}
                p Are you sure you want to delete this category?
                .btns-container 
                    button.secondary-btn Cancel 
                    button(type="submit" class="danger-btn") Delete