extends layout

block content
  .container(style="display:flex; justify-content: space-between; align-items:center;")
    form(method="GET" action="" style="display:flex; gap:0.5rem; align-items: center;")
      label(for="category") Category: 
      .select-wrapper
        select(id="category" name="category")
          each category in categories
            option(value=category.name.toLowerCase() selected=((categoryId && categoryId === category._id) || index === 0))= category.name
      button(type="submit" class="primary-btn") Filter
    a.primary-btn(href="/item/create") Create Item
  div.items
    each item in items
      div.item
        img(class="item-thumbnail" src=(item.image || "https://placehold.co/280x200") height="200px" width="280px" style="object-fit:cover;")
        a(href=`/item/${item.id}` class="item-name")=item.name