extends layout

block content
  .container(style="display:flex; justify-content: space-between; align-items:center; flex-wrap:wrap;")
    form(method="GET" action="" style="display:flex;align-items:center;gap:0.5rem;")
      label(for="category") Category: 
      .select-wrapper
        select(id="category" name="category")
          each category, index in categories
            option(value=category.name.toLowerCase() selected=((categoryId && categoryId === category._id) || index === 0))= category.name
      button(type="submit" class="primary-btn") Filter
    a.primary-btn.create-btn(href="/item/create") Create Item
  div.items
    each item in items
      div.item
        <img class="item-thumbnail" src="https://placehold.co/280x200"/>
        a(href=`/item/${item.id}` class="item-name")=item.name
  script(src="/javascripts/index.js") 