extends layout 

block content 
    .item-info 
        <img src="https://placehold.co/400x500"/>
        div
            h1 Milk
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est odio eos tempora fugit voluptatum quae officia eum ipsa nostrum, dignissimos earum autem enim impedit similique debitis dicta et eius illum. Placeat tempore ad voluptatem ipsum eum nemo eos possimus? Ullam voluptatum atque minima alias qui labore neque sint quasi sed et fuga dicta sequi quas accusamus eligendi, expedita illo dolor similique obcaecati reiciendis inventore exercitationem incidunt? Tempora ea veritatis voluptatem blanditiis voluptatibus a saepe, nulla voluptatum voluptate non libero obcaecati eveniet delectus facere eligendi? Esse perferendis necessitatibus doloremque numquam ipsam pariatur debitis dignissimos corporis exercitationem non eligendi, tempore consequuntur animi?
            span Stock: 100
            .item-action-btns
                button Delete Item 
                button Update Item