extends layout 

block content 
    h1 #{title} Item
    form(action="#" method="POST" class="item-form")
        label(for="name") Name:
        input(type="text" id="name" name="name")
        label(for="description") Description:
        textarea(id="description" name="description")
        button(type="submit" class="primary-btn") Submit