@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Baskerville';
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header-nav>ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

main {
  padding: 20px 50px;
}

.items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.2s;
}

.item-thumbnail {
  max-width: 100%;
}

.item-name {
  padding: 10px 0px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.item:hover {
  transform: translateY(-5px);
}

.filter-btn {
  margin-left: 10px;
}

.item-info {
  display: flex;
  gap: 10rem;
}

.item-action-btns {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form {
  background-color: white;
  max-width: 500px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  box-shadow: 1px 3px 13px 3px rgba(0, 0, 0, 0.2);
}

.form-control>label {
  display: block;
  color: #363636;
  margin-bottom: 3px;
  font-size: 1rem;
  font-weight: 700;
}

.form-control>input, .form-control>textarea {
  min-width: 100%;
}

.form-control>input {
  appearance: none;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
}

.form-control>textarea {
  appearance: none;
  min-height: 100px;
  resize: none;
  border: 1px solid grey;
  border-radius: 3px;
}

.form-control {
  position: relative;
}

.form-control select {
  appearance: none;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  min-width: 100%;
}

.form-control>.select-wrapper::after {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  top: 30px;
  right: 10px;
  border: 2.5px solid transparent;
  border-radius: 2px;
  position: absolute;
  border-right-color: grey;
  border-bottom-color: grey;
  transform: rotate(45deg);
}

.form-control>input:focus, .form-control>textarea:focus, .form-control select:focus {
  outline: 1px solid #485fc7;
}

button[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}

.form-heading {
  padding: 20px 0;
  margin: 0;
}

span[aria-label="required"] {
  font-size: 12px;
  margin-left: 2px;
}

.input__invalid {
  border: 1px solid red !important;
}

.error-message {
  font-size: 0.7rem;
  color: red;
}

.confirmation-dialog {
  max-width: max-content;
}

.confirmation-dialog>.btns-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

button {
  /* padding: 8px;
  border-radius: 5px; */
  border: none;
  background-color: unset;
  cursor: pointer;
  transition: background-color 0.2s;
  /* font-weight: 800; */
  /* display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center; */
}

.primary-btn {
  background-color: teal;
  color: #fff;
}

.danger-btn {
  background-color: rgb(250, 69, 69) !important;
  border-radius: 5px;
  color: #e9e4e4;
}

.danger-btn:hover {
  background-color: rgb(248, 101, 101) !important;
}

.secondary-btn {
  color: black;
}

.delete-item-btn:hover, .update-item-btn:hover, .secondary-btn:hover {
  background-color: rgb(224, 224, 224);
}

.create-item-btn, .create-category-btn {
  position: fixed;
  background-color: grey;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  font-size: 24px;
}

.create-item-btn {
  bottom: 10px;
  right: 10px;
}

.create-category-btn {
  display: none;
}

.create-category-btn {
  bottom: 10px;
  right: 10px;
}

.create-item-btn:hover+.create-category-btn {
  display: block;
  bottom: 80px;
}

.delete-item-btn, .update-item-btn {
  padding: 5px;
  border-radius: 3px;
}

.delete-item-btn>svg {
  stroke: red;
}

.update-item-btn>svg {
  stroke: grey;
}